<style type="text/css">
  .container{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  },
  .container-logo {
    width: 800px;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
  },
  .logo {
    width: 30px;
    height: 30px;
  }
</style>

<div class="container">

  <div class="container-logo">
    <img src="https://i.imgur.com/oUAKMC5.png" alt="Logo Rental-x" class="logo">
  </div>
  <span> Olá, {{name}} </span>
  <br/>

 <span> Foi solicitado redefinição de senha para sua conta. </span>
   <br/>
 <span> Para relizar a redefinição, clique
  <a href={{link}}> aqui</a>
 </span>
  <br/>
 <span> Caso não tenho sido você quem solicitou, basta ignorar este e-mail!</span> 

   <br/>
 <h3> Equipe | <strong> Rental-x</strong></h3>
</div>

